.text-error
  = errors_for 'hotel_bookings.hotel_room'
%li.js-hotel-booking
  %p.mb-0
    %strong
      %i.fa.fa-home
      Hotel:
    = hotel.object.hotel_title
    %br
    %strong
      %i.fa.fa-clock-o
      Living period:
    = hotel.object.booking_period_fancy
    %br
    %strong
      %i.fa.fa-sun-o
      Days:
    = hotel.object.days
    %br
    %strong
      %i.fa.fa-moon-o
      Nights:
    = hotel.object.nights
  .photos
    - hotel.object.photos.each do |photo|
      = link_to photo.photo.url, target: :blank do
        = image_tag(photo.photo.small.url)

  %table.table.mt-3
    %thead
      %tr
        %th #
        %th Adult
        %th Child
        %th Infant
        %th Senior
        %th Booked
    %tbody
      - hotel.object.hotel_rooms.each do |room|
        %tr
          %th= room.room_type.room_type
          %td= render 'active_tours/room_price', price: room.adult_sell, supp_price: room.adult_supp
          %td= render 'active_tours/room_price', price: room.child_sell
          %td= render 'active_tours/room_price', price: room.infant_sell
          %td= render 'active_tours/room_price', price: room.senior_sell, supp_price: room.senior_supp
          %td
            = number_field_tag "hotel_booking[#{room.id}]", 0, min: 0, max: 4, class: 'form-control', style: 'width:auto;'

  %p
    %strong
      %i.fa.fa-money
      Subtotal:
    %span.js-subtotal 100
  .mb-5
