- content_for :javascript_body do
  = javascript_include_tag 'booking_page_prices'
  = javascript_include_tag 'booking_page_seatplan'
-# - content_for :dynamic_js do
-#   = render 'booking_page_seatplan.js.erb'

.container
  .row.pt-5
    .col-md-8.push-md-2
      .card
        = image_tag 'tour_preview_1.jpg', class: 'card-img-top img-fluid'
        .card-block
          %h4.card-title Booking your tour
          %p.card-text
            %i.fa.fa-plane
            %strong Tour:
            = @tour.title
            %br
            %i.fa.fa-calendar-o
            %strong Dates:
            = @active_tour.date_period_fancy
          = form_for @booking, url: {action: 'book'} do |f|
            .row.mb-1
              .col-md-6
                = f.label :adult, 'Adults:'
                = f.text_field :adult, type: :number, class: 'form-control js-adult', min: 0, value: '2'
              .col-md-6
                = f.label :adult, 'Child:'
                = f.text_field :child, type: :number, class: 'form-control js-child', min: 0, value: '0'
            .row.mb-4
              .col-md-6
                = f.label :adult, 'Infant:'
                = f.text_field :infant, type: :number, class: 'form-control js-infant', min: 0, value: '0'
              .col-md-6
                = f.label :adult, 'Senior:'
                = f.text_field :senior, type: :number, class: 'form-control js-senior', min: 0, value: '0'
            = f.hidden_field :active_tour_id, value: @active_tour.id
            %p
              %strong
                %h3
                  %i.fa.fa-bus
                  Coach booking
            = f.fields_for :coach_bookings do |coach|
              = coach.hidden_field :tour_coach_id, value: @tour_coach.id
              .row
                .col-md-5
                  %div#seat-map
                .col-md-7
                  #legend
              %ul#selected-seats
              .text-error
                = errors_for 'coach_bookings.seats'
              .form-group
                %i.fa.fa-ticket
                = label :seats_preview, 'Seats:'
                = text_field_tag :seats_preview, 0, type: 'number', class: 'form-control js-seats', min: '1', placeholder: 'Seats', disabled: true
                = coach.hidden_field :seats, value: '["13", "14"]'
              %p
                %strong
                  %i.fa.fa-money
                  Subtotal:
                %span#coach-subtotal $0
            %p
              %strong
                %h3
                  %i.fa.fa-bed
                  Hotel booking
              %ul.hotel-list
                = f.fields_for :hotel_bookings do |hotel|
                  = render 'active_tours/hotel_booking', hotel: hotel
            %p
              %strong
                %i.fa.fa-money
                Total price:
              %span#js-total-price $0.00
            = f.submit 'Order Now', class: 'btn btn-primary'
