-# DO NOT REMOVE THAT LINE
- config_show_template fields

-# For field render you can use compact_render_field(field) or field.render
.row
  .col-md-10.col-md-offset-1.panel-padding
    .panel.panel-default
      .panel-heading
        %h3.panel-title Main
      .panel-body
        .col-md-4
          = render 'rails_admin/main/templates/shared/field_show',
            field: :tour_id
        .col-md-4
          = render 'rails_admin/main/templates/shared/field_show',
            field: :start_date
        .col-md-4
          = render 'rails_admin/main/templates/shared/field_show',
            field: :end_date

.row
  .col-md-10.col-md-offset-1.panel-padding
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body
        .col-md-4
          = render 'rails_admin/main/templates/shared/field_show',
            field: :allow_external_agents
          = render 'rails_admin/main/templates/shared/field_show',
            field: :allow_deposits
        .col-md-4
          = render 'rails_admin/main/templates/shared/field_show',
            field: :insurance_allowed
          = render 'rails_admin/main/templates/shared/field_show',
            field: :self_drive
        .col-md-4
          = render 'rails_admin/main/templates/shared/field_show',
            field: :other_costs

.row
  .col-md-5.col-md-offset-1.panel-padding
    .panel.panel-default
      .panel-heading
        %h3.panel-title Hotels
      .panel-body
        .col-md-12
          = render 'rails_admin/main/templates/shared/field_show',
            field: :tour_hotel_ids, id_prefix: 'active_tour_'

  .col-md-5.panel-padding
    .panel.panel-default
      .panel-heading
        %h3.panel-title Coach
      .panel-body
        .col-md-12
          = render 'rails_admin/main/templates/shared/field_show',
            field: :tour_coach_ids, id_prefix: 'active_tour_'

.row
  .col-md-5.panel-padding.col-md-offset-1
    .panel.panel-default
      .panel-heading
        %h3.panel-title Ferries
      .panel-body
        .col-md-12
          = render 'rails_admin/main/templates/shared/field_show',
            field: :ferry_date_ids, id_prefix: 'active_tour_'

  .col-md-5.panel-padding
    .panel.panel-default
      .panel-heading
        %h3.panel-title Excursions
      .panel-body
        .col-md-12
          = render 'rails_admin/main/templates/shared/field_show',
            field: :tour_excursion_ids, id_prefix: 'active_tour_'
