-# DO NOT REMOVE THAT LINE
- config_template(fields, options)

-# For field render you can use compact_render_field(field) or field.render
.row
  .col-md-3.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :ferry_id
  .col-md-3
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :active_tour_id
  .col-md-3
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :rate

.row
  .col-md-3.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :start_date
  .col-md-3
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :end_date
  .col-md-3
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :max_passengers

- if @object.persisted?
  .row
    .col-md-5.col-md-offset-1
      = render 'rails_admin/notes', type: @object.class.to_s, id: @object.id
