-# DO NOT REMOVE THAT LINE
- config_show_template(fields)

-# For field render you can use compact_render_field(field) or field.render
.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
      field: :ferry_id
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :active_tour_id

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
      field: :start_date
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :end_date

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
      field: :rate
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :max_passengers

.row
  .col-md-11.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
      field: :notes
