-# DO NOT REMOVE THAT LINE
- config_show_template fields

-# For field render you can use compact_render_field(field) or field.render
.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
        field: :title
    = render 'rails_admin/main/templates/shared/field_show',
        field: :description
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
        field: :address

.row
  .col-md-10.col-md-offset-1
    .row
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :website, css: 'compact-2x'
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :phone_number, css: 'compact-2x'
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :contact_name, css: 'compact-2x'
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :fax_number, css: 'compact-2x'

.row
  .col-md-10.col-md-offset-1
    .row
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :emergency_number, css: 'compact-2x'
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :email, css: 'compact-2x'
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :rating
      .col-md-3
        = render 'rails_admin/main/templates/shared/field_show',
          field: :facility_ids


.row
  .col-md-10.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
      field: :photos_attributes

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/field_show',
      field: :board_basis_id
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :payment_type_id

.clearfix
  - for_field :hotel_rooms_attributes do |field, css, id, label|
    %p
      %strong= label
    = field.pretty_value

.row
  .col-md-6
    = render 'rails_admin/notes', type: @object.class.to_s, id: @object.id
