-# DO NOT REMOVE THAT LINE
- config_template(fields, options)

-# For field render you can use compact_render_field(field) or field.render
.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :title
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :description
  .col-md-4
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :address

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :website
  .col-md-4
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :phone_number

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :buyer_name
  .col-md-4
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :fax_number

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :buyer_number
  .col-md-4
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :email

.row
  .col-md-4.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :photos_attributes
  .col-md-4
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :rating
