-# DO NOT REMOVE THAT LINE
- config_template(fields, options)

-# For field render you can use compact_render_field(field) or field.render
.row
  .col-md-10.col-md-offset-1
    .row
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :hotel_id
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :active_tour_id
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :start_date
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :end_date

.row
  .col-md-10.col-md-offset-1
    .row
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :hotel_theme, css: 'compact-2x'
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :board_basis_id
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :payment_type_id
      .col-md-3
        = render 'rails_admin/main/templates/shared/compact_field',
          field: :finalisation_date

.row
  .col-md-10.col-md-offset-1
    = render 'rails_admin/main/templates/shared/compact_field',
      field: :hotel_rooms_attributes

- if @object.persisted?
  .row
    .col-md-10.col-md-offset-1.no-padding
      = link_to get_report_path(:tour_hotel, @object, report: InterimReport[:pdf]), class: 'btn btn-info', target: 'blank'do
        Show Interim Report
        %i.icon-print
  %br

.row
  .col-md-5.col-md-offset-1
    = render 'rails_admin/notes', type: @object.class.to_s, id: @object.id
