-# DO NOT REMOVE THAT LINE
- config_template(fields, options)

-# For field render you can use compact_render_field(field) or field.render
.clearfix
  - for_field :hotel_id do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

  - for_field :active_tour_id do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

.clearfix
  - for_field :start_date do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

  - for_field :end_date do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

.clearfix
  - for_field :board_basis_id do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

  - for_field :payment_type_id do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

.clearfix
  - for_field :finalisation_date do |field, css, id, label|
    %div{class: "col-md-4 #{css}", id: id}
      %p= label
      = compact_render_field field

  - for_field :hotel_theme do |field, css, id, label|
    %div{class: "col-md-5 #{css}", id: id}
      %p= label
      = compact_render_field field

.clearfix
  - for_field :hotel_rooms_attributes do |field, css, id, label|
    %p= label
    = compact_render_field field

.clearfix
  - for_field :notes do |field, css, id, label|
    %div{class: "col-md-3 #{css}", id: id}
      %p= label
      = compact_render_field field

.clearfix
  - if @object.persisted?
    = link_to get_report_path(:tour_hotel, @object), class: 'btn btn-info', target: 'blank'do
      Show Interim Report
      %i.icon-print
