-# DO NOT REMOVE THAT LINE
- config_show_template fields

.clearfix
  = link_to get_report_path(:tour_hotel, @object), class: 'btn btn-info', target: 'blank' do
    Show Interim Report
    %i.icon-print
  %br
  %br

.clearfix
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :hotel_id

  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :active_tour_id

.clearfix
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :start_date

  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :end_date

.clearfix
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :board_basis_id

  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :payment_type_id

.clearfix
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :finalisation_date
  .col-md-4
    = render 'rails_admin/main/templates/shared/field_show',
      field: :hotel_theme

.clearfix
  = render 'rails_admin/main/templates/shared/field_show',
    field: :hotel_rooms_attributes

.clearfix
  = render 'rails_admin/main/templates/shared/field_show',
    field: :notes
