- content_for :javascript_body do
  = javascript_include_tag 'show_seatplan'
  = javascript_include_tag 'pickup_point_preview'
  %script{async: true,
          defer: true,
          src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&libraries=places&callback=initMap"}
- content_for :dynamic_css do
  = render 'seatplan_custom_styles.css.erb'

.container.mt-5
  = render @tour_bookings
