!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TourPlatform
    = csrf_meta_tags
    = Gon::Base.render_data # Gets variables for JS from controller

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/

    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}/

    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", :integrity => "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if content_for? :javascript_body
      = yield :javascript_body
    - if content_for? :dynamic_js
      %script
        = yield :dynamic_js
  %body
    = render 'layouts/navbar'
    = render 'layouts/notice_block'
    = render 'layouts/alert_block'
    = yield
