!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TourPlatform
    = csrf_meta_tags
    = Gon::Base.render_data # Gets variables for JS from controller

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/

    %script{async: true,
            defer: true,
            src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&libraries=places"}

    = stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag    'application', 'data-turbolinks-track': 'reload'

    - if content_for? :javascript_body
      = yield :javascript_body

    - if content_for? :dynamic_css
      %style
        = yield :dynamic_css
  %body
    = render 'layouts/navbar'
    = render 'layouts/notice_block'
    = render 'layouts/alert_block'
    = yield
